extends layout

block content
    div.container
        h1 Update Movie
        form(method="post" action=`/movies/${movie.id}/edit`)
            label(for="title") Title
            input.form-control(type="text" name="title" value=movie.title ? movie.title : '' required)
            
            label(for="director") Director
            input.form-control(type="text" name="director" value=movie.director ? movie.director : '' required)
            
            label(for="year") Year
            input.form-control(type="text" name="year" value=movie.year ? movie.year : '' required)
            
            label(for="notes") Notes
            textarea.form-control(name="notes" cols="30" rows="10") #{movie.notes}
            button.btn.btn-success(type="submit") Save Changes

            
        a.btn.btn-secondary.my-2.ms-2(href="/movies/list") Back
