extends layout

block content
  .container
    .movie-info
      p
        strong Movie ID:
        span.text-info #{movie.id}
      p
        strong Title:
        span.text-success #{movie.title}
      p
        strong Director:
        span.text-danger #{movie.director}
      p
        strong Year:
        span.text-warning #{movie.year}
      p
        strong Notes:
        span.text-muted #{movie.notes}

    .actions.d-flex.align-items-end.mt-3
      a.btn.btn-secondary(href=`/movies/${movie.id}/edit`) Edit
      form(style='display:inline-block', method='post', action=`/movies/${movie.id}`)
        input(type="hidden" name="_method" value="DELETE")
        button.btn.btn-danger.ms-1(type="submit") Delete
      a.btn.btn-primary(href='/list') Back
